<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/index.css">
  <title>Error</title>
</head>
<body>
  <h1>Netko je pokušao hakirati i promjeniti vašu lozinku!</h1>
  <p>Ne brinite, naše sigurnosne mjere su sprječile bilo kakvo zlo.</p>
  <button onclick="window.location.href='/'">Idi nazad na početnu stranicu</button>
</body>
</html>