<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/index.css">
    <title></title>
</head>
<body>
    Lozinka promjenjena uspješno!
    <button onclick="window.location.href='/'">Idi nazad na početnu stranicu</button>
    <form action="/hacker" method="GET">
        <input type="text" id="useSafeQuery" name="useSafeQuery" value="<%=useSafeQuery%>" readonly hidden>
        <button type="submit">Osvoji nagradu!</button> 
    </form>
    Klikni na "Osvoji nagradu!" kako bi isprobao CSRF ranjivost

    <form action="/logout" method="get">
    <input type="submit" value="Odjavi se" >
    </form>
    
</body>
</html>